---
import GitHub from "../Icons/GitHub.astro";
import Link from "../Icons/Link.astro";
import NestJS from "../Icons/NestJS.astro";
import Postgres from "../Icons/Postgres.astro";
import LinkButton from "./LinkButton.astro";
const TAGS = {
    NEST: {
        name: "NestJS",
        class: "bg-neutral-950 text-white",
        icon: NestJS,
    },
    POSTGRES: {
        name: "PostgreSQL",
        class: "bg-neutral-50 text-black",
        icon: Postgres,
    },
}

const PROJECTS = [
    {
        title: "Fake blog API",
        description: "API enriquecida con datos de muestra diseñada para un blog. Su propósito principal es la facilitación de pruebas y la visualización de datos en una aplicación de frontend.",
        image: "/projects/project-1.webp",
        tags: [ TAGS.NEST, TAGS.POSTGRES],
        link: 'https://fake-blog-api.onrender.com/docs',
        github: "https://github.com/mauor/fake-blog-api"
    }
]

---

<!-- component -->
<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 bg-slate-950/20 rounded shadow-lg">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center justify-center  col-span-6 row-span-5 gap-8 overflow-clip rounded">
                        <img alt={title} class="object-cover object-top w-full h-56 sm:h-full  transition-all duration-300 group-hover:scale-110 group-hover:rotate-3" loading="lazy" src={image} />
                    </div>
                </div>
                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-gray-800 dark:text-indigo-400 mt-2">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tag) => (
                                <li>
                                    <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>
  
                        <div class="mt-2 text-sm text-gray-700 dark:text-indigo-200">
                            {description}
                        </div>
                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <LinkButton href={github}>
                                    <GitHub class="size-4 me-1" />
                                    Code
                                </LinkButton>
                            )}
                            {link && (
                                <LinkButton href={link}>
                                    <Link class="size-4 me-1" />
                                    Preview
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
